@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    color: white;
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: #4f46e5; /* Un color para los enlaces */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
