.container {
    background-color: #1f2937;
    color: white;
    justify-items: center;
}

.heading {
    text-align: center;
}

.posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60vw;
    gap: 1rem;
    justify-items:center;
}