.tag {
    display: inline-block;
    background-color: #e2e8f0;
    color: #1f2937;
    padding: 3px 5px;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 8px;
    margin-bottom: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.tag:hover {
    background-color: #b0c4de;
}