.container {
    background-color: #1f2937;
    color: white;
    justify-items: center;
}

.posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60vw;
    gap: 1rem;
    justify-items:center;
}

.post {
    background-color: #2d3748;
    border-radius: 0.375rem;
    padding: 1.5rem;
    transition: transform 0.2s;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}